## Preprocessing

In [59]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [60]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN', 'NAME', 'ASK_AMT'], inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,1

In [61]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
STATUS                     2
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
IS_SUCCESSFUL              2
dtype: int64

In [62]:
income_type = application_df['INCOME_AMT'].value_counts()
income_type

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [63]:
income_types_to_replace =  income_type[income_type < 1000].index

# Replace in dataframe
for app in income_types_to_replace:
    application_df['INCOME_AMT'] = application_df['INCOME_AMT'].replace(app,"Other")

# Check to make sure binning was successful
application_df['INCOME_AMT'].value_counts()

0                24388
25000-99999       3747
100000-499999     3374
Other             2790
Name: INCOME_AMT, dtype: int64

In [64]:
# Look at APPLICATION_TYPE value counts for binning
app_type = application_df['APPLICATION_TYPE'].value_counts()
app_type

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [65]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace =  app_type[app_type < 500].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [66]:
# Look at CLASSIFICATION value counts for binning
class_types = application_df['CLASSIFICATION'].value_counts()
class_types

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [67]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_types[class_types > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [68]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = class_types[class_types < 1000].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [69]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_100000-499999,INCOME_AMT_25000-99999,INCOME_AMT_Other,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,1,0,1,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0
1,1,1,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,1,1,0
2,1,0,0,0,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,1,0
3,1,1,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,1,1,0
4,1,1,0,0,0,1,0,0,0,0,...,0,0,0,1,0,1,0,0,1,0

In [70]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values.reshape(-1,1)
X = application_df.drop(columns=['IS_SUCCESSFUL']).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [71]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [72]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=200, activation='relu', input_dim=37))

nn.add(tf.keras.layers.Dense(units=120, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation='selu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=40, activation='selu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_25 (Dense)            (None, 200)               7600

 dense_26 (Dense)            (None, 120)               24120

 dense_27 (Dense)            (None, 80)                9680

 dense_28 (Dense)            (None, 40)                3240

 dense_29 (Dense)            (None, 1)                 41

=================================================================
Total params: 44681 (174.54 KB)
Trainable params: 44681 (174.54 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [73]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [74]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=150)

Epoch 1/150
804/804 [==============================] - 1s 850us/step - loss: 0.5736 - accuracy: 0.7168
Epoch 2/150
804/804 [==============================] - 1s 814us/step - loss: 0.5612 - accuracy: 0.7249
Epoch 3/150
804/804 [==============================] - 1s 802us/step - loss: 0.5572 - accuracy: 0.7272
Epoch 4/150
804/804 [==============================] - 1s 830us/step - loss: 0.5560 - accuracy: 0.7278
Epoch 5/150
804/804 [==============================] - 1s 833us/step - loss: 0.5545 - accuracy: 0.7299
Epoch 6/150
804/804 [==============================] - 1s 826us/step - loss: 0.5546 - accuracy: 0.7287
Epoch 7/150
804/804 [==============================] - 1s 822us/step - loss: 0.5529 - accuracy: 0.7298
Epoch 8/150
804/804 [==============================] - 1s 837us/step - loss: 0.5519 - accuracy: 0.7320
Epoch 9/150
804/804 [==============================] - 1s 815us/step - loss: 0.5515 - accuracy: 0.7317
Epoch 10/150
804/804 [==============================] - 1s 818us/step - loss: 0.5506 - accuracy: 0.7304
Epoch 11/150
804/804 [==============================] - 1s 849us/step - loss: 0.5497 - accuracy: 0.7306
Epoch 12/150
804/804 [==============================] - 1s 823us/step - loss: 0.5501 - accuracy: 0.7311
Epoch 13/150
804/804 [==============================] - 1s 828us/step - loss: 0.5492 - accuracy: 0.7314
Epoch 14/150
804/804 [==============================] - 1s 814us/step - loss: 0.5493 - accuracy: 0.7310
Epoch 15/150
804/804 [==============================] - 1s 822us/step - loss: 0.5487 - accuracy: 0.7322
Epoch 16/150
804/804 [==============================] - 1s 829us/step - loss: 0.5491 - accuracy: 0.7311
Epoch 17/150
804/804 [==============================] - 1s 815us/step - loss: 0.5482 - accuracy: 0.7322
Epoch 18/150
804/804 [==============================] - 1s 820us/step - loss: 0.5478 - accuracy: 0.7320
Epoch 19/150
804/804 [==============================] - 1s 828us/step - loss: 0.5480 - accuracy: 0.7321
Epoch 20/150
804/804 [==============================] - 1s 813us/step - loss: 0.5480 - accuracy: 0.7322
Epoch 21/150
804/804 [==============================] - 1s 838us/step - loss: 0.5467 - accuracy: 0.7318
Epoch 22/150
804/804 [==============================] - 1s 832us/step - loss: 0.5465 - accuracy: 0.7339
Epoch 23/150
804/804 [==============================] - 1s 815us/step - loss: 0.5471 - accuracy: 0.7315
Epoch 24/150
804/804 [==============================] - 1s 835us/step - loss: 0.5466 - accuracy: 0.7325
Epoch 25/150
804/804 [==============================] - 1s 819us/step - loss: 0.5466 - accuracy: 0.7336
Epoch 26/150
804/804 [==============================] - 1s 828us/step - loss: 0.5455 - accuracy: 0.7318
Epoch 27/150
804/804 [==============================] - 1s 823us/step - loss: 0.5458 - accuracy: 0.7332
Epoch 28/150
804/804 [==============================] - 1s 818us/step - loss: 0.5452 - accuracy: 0.7345
Epoch 29/150
804/804 [==============================] - 1s 827us/step - loss: 0.5458 - accuracy: 0.7332
Epoch 30/150
804/804 [==============================] - 1s 838us/step - loss: 0.5450 - accuracy: 0.7338
Epoch 31/150
804/804 [==============================] - 1s 822us/step - loss: 0.5445 - accuracy: 0.7344
Epoch 32/150
804/804 [==============================] - 1s 834us/step - loss: 0.5451 - accuracy: 0.7336
Epoch 33/150
804/804 [==============================] - 1s 822us/step - loss: 0.5448 - accuracy: 0.7337
Epoch 34/150
804/804 [==============================] - 1s 830us/step - loss: 0.5440 - accuracy: 0.7346
Epoch 35/150
804/804 [==============================] - 1s 815us/step - loss: 0.5444 - accuracy: 0.7343
Epoch 36/150
804/804 [==============================] - 1s 814us/step - loss: 0.5438 - accuracy: 0.7342
Epoch 37/150
804/804 [==============================] - 1s 846us/step - loss: 0.5445 - accuracy: 0.7338
Epoch 38/150
804/804 [==============================] - 1s 818us/step - loss: 0.5444 - accuracy: 0.7336
Epoch 39/150
804/804 [==============================] - 1s 827us/step - loss: 0.5437 - accuracy: 0.7336
Epoch 40/150
804/804 [==============================] - 1s 818us/step - loss: 0.5439 - accuracy: 0.7341
Epoch 41/150
804/804 [==============================] - 1s 814us/step - loss: 0.5434 - accuracy: 0.7345
Epoch 42/150
804/804 [==============================] - 1s 819us/step - loss: 0.5451 - accuracy: 0.7349
Epoch 43/150
804/804 [==============================] - 1s 835us/step - loss: 0.5434 - accuracy: 0.7343
Epoch 44/150
804/804 [==============================] - 1s 825us/step - loss: 0.5429 - accuracy: 0.7342
Epoch 45/150
804/804 [==============================] - 1s 813us/step - loss: 0.5434 - accuracy: 0.7348
Epoch 46/150
804/804 [==============================] - 1s 820us/step - loss: 0.5432 - accuracy: 0.7347
Epoch 47/150
804/804 [==============================] - 1s 823us/step - loss: 0.5435 - accuracy: 0.7339
Epoch 48/150
804/804 [==============================] - 1s 812us/step - loss: 0.5433 - accuracy: 0.7341
Epoch 49/150
804/804 [==============================] - 1s 829us/step - loss: 0.5430 - accuracy: 0.7333
Epoch 50/150
804/804 [==============================] - 1s 823us/step - loss: 0.5432 - accuracy: 0.7334
Epoch 51/150
804/804 [==============================] - 1s 810us/step - loss: 0.5433 - accuracy: 0.7336
Epoch 52/150
804/804 [==============================] - 1s 837us/step - loss: 0.5432 - accuracy: 0.7343
Epoch 53/150
804/804 [==============================] - 1s 813us/step - loss: 0.5432 - accuracy: 0.7348
Epoch 54/150
804/804 [==============================] - 1s 813us/step - loss: 0.5431 - accuracy: 0.7342
Epoch 55/150
804/804 [==============================] - 1s 823us/step - loss: 0.5422 - accuracy: 0.7347
Epoch 56/150
804/804 [==============================] - 1s 819us/step - loss: 0.5426 - accuracy: 0.7342
Epoch 57/150
804/804 [==============================] - 1s 830us/step - loss: 0.5421 - accuracy: 0.7353
Epoch 58/150
804/804 [==============================] - 1s 818us/step - loss: 0.5423 - accuracy: 0.7345
Epoch 59/150
804/804 [==============================] - 1s 841us/step - loss: 0.5430 - accuracy: 0.7345
Epoch 60/150
804/804 [==============================] - 1s 832us/step - loss: 0.5421 - accuracy: 0.7345
Epoch 61/150
804/804 [==============================] - 1s 818us/step - loss: 0.5420 - accuracy: 0.7346
Epoch 62/150
804/804 [==============================] - 1s 855us/step - loss: 0.5423 - accuracy: 0.7353
Epoch 63/150
804/804 [==============================] - 1s 827us/step - loss: 0.5421 - accuracy: 0.7347
Epoch 64/150
804/804 [==============================] - 1s 822us/step - loss: 0.5425 - accuracy: 0.7340
Epoch 65/150
804/804 [==============================] - 1s 839us/step - loss: 0.5418 - accuracy: 0.7350
Epoch 66/150
804/804 [==============================] - 1s 839us/step - loss: 0.5418 - accuracy: 0.7350
Epoch 67/150
804/804 [==============================] - 1s 838us/step - loss: 0.5418 - accuracy: 0.7347
Epoch 68/150
804/804 [==============================] - 1s 830us/step - loss: 0.5418 - accuracy: 0.7338
Epoch 69/150
804/804 [==============================] - 1s 841us/step - loss: 0.5417 - accuracy: 0.7360
Epoch 70/150
804/804 [==============================] - 1s 834us/step - loss: 0.5416 - accuracy: 0.7344
Epoch 71/150
804/804 [==============================] - 1s 830us/step - loss: 0.5419 - accuracy: 0.7344
Epoch 72/150
804/804 [==============================] - 1s 833us/step - loss: 0.5419 - accuracy: 0.7343
Epoch 73/150
804/804 [==============================] - 1s 837us/step - loss: 0.5417 - accuracy: 0.7349
Epoch 74/150
804/804 [==============================] - 1s 855us/step - loss: 0.5411 - accuracy: 0.7346
Epoch 75/150
804/804 [==============================] - 1s 829us/step - loss: 0.5412 - accuracy: 0.7350
Epoch 76/150
804/804 [==============================] - 1s 828us/step - loss: 0.5414 - accuracy: 0.7350
Epoch 77/150
804/804 [==============================] - 1s 865us/step - loss: 0.5412 - accuracy: 0.7362
Epoch 78/150
804/804 [==============================] - 1s 830us/step - loss: 0.5416 - accuracy: 0.7343
Epoch 79/150
804/804 [==============================] - 1s 838us/step - loss: 0.5420 - accuracy: 0.7344
Epoch 80/150
804/804 [==============================] - 1s 840us/step - loss: 0.5415 - accuracy: 0.7345
Epoch 81/150
804/804 [==============================] - 1s 820us/step - loss: 0.5419 - accuracy: 0.7345
Epoch 82/150
804/804 [==============================] - 1s 843us/step - loss: 0.5413 - accuracy: 0.7344
Epoch 83/150
804/804 [==============================] - 1s 832us/step - loss: 0.5411 - accuracy: 0.7359
Epoch 84/150
804/804 [==============================] - 1s 859us/step - loss: 0.5410 - accuracy: 0.7352
Epoch 85/150
804/804 [==============================] - 1s 832us/step - loss: 0.5419 - accuracy: 0.7345
Epoch 86/150
804/804 [==============================] - 1s 825us/step - loss: 0.5414 - accuracy: 0.7353
Epoch 87/150
804/804 [==============================] - 1s 853us/step - loss: 0.5408 - accuracy: 0.7351
Epoch 88/150
804/804 [==============================] - 1s 819us/step - loss: 0.5415 - accuracy: 0.7344
Epoch 89/150
804/804 [==============================] - 1s 834us/step - loss: 0.5411 - accuracy: 0.7341
Epoch 90/150
804/804 [==============================] - 1s 844us/step - loss: 0.5413 - accuracy: 0.7346
Epoch 91/150
804/804 [==============================] - 1s 825us/step - loss: 0.5408 - accuracy: 0.7359
Epoch 92/150
804/804 [==============================] - 1s 817us/step - loss: 0.5407 - accuracy: 0.7351
Epoch 93/150
804/804 [==============================] - 1s 850us/step - loss: 0.5409 - accuracy: 0.7356
Epoch 94/150
804/804 [==============================] - 1s 809us/step - loss: 0.5483 - accuracy: 0.7345
Epoch 95/150
804/804 [==============================] - 1s 814us/step - loss: 0.5415 - accuracy: 0.7350
Epoch 96/150
804/804 [==============================] - 1s 852us/step - loss: 0.5406 - accuracy: 0.7354
Epoch 97/150
804/804 [==============================] - 1s 817us/step - loss: 0.5409 - accuracy: 0.7352
Epoch 98/150
804/804 [==============================] - 1s 834us/step - loss: 0.5410 - accuracy: 0.7341
Epoch 99/150
804/804 [==============================] - 1s 841us/step - loss: 0.5407 - accuracy: 0.7349
Epoch 100/150
804/804 [==============================] - 1s 833us/step - loss: 0.5403 - accuracy: 0.7350
Epoch 101/150
804/804 [==============================] - 1s 833us/step - loss: 0.5403 - accuracy: 0.7357
Epoch 102/150
804/804 [==============================] - 1s 832us/step - loss: 0.5404 - accuracy: 0.7349
Epoch 103/150
804/804 [==============================] - 1s 836us/step - loss: 0.5405 - accuracy: 0.7356
Epoch 104/150
804/804 [==============================] - 1s 834us/step - loss: 0.5410 - accuracy: 0.7332
Epoch 105/150
804/804 [==============================] - 1s 844us/step - loss: 0.5415 - accuracy: 0.7329
Epoch 106/150
804/804 [==============================] - 1s 836us/step - loss: 0.5406 - accuracy: 0.7335
Epoch 107/150
804/804 [==============================] - 1s 834us/step - loss: 0.5405 - accuracy: 0.7346
Epoch 108/150
804/804 [==============================] - 1s 823us/step - loss: 0.5401 - accuracy: 0.7346
Epoch 109/150
804/804 [==============================] - 1s 846us/step - loss: 0.5403 - accuracy: 0.7340
Epoch 110/150
804/804 [==============================] - 1s 825us/step - loss: 0.5413 - accuracy: 0.7350
Epoch 111/150
804/804 [==============================] - 1s 837us/step - loss: 0.5407 - accuracy: 0.7361
Epoch 112/150
804/804 [==============================] - 1s 838us/step - loss: 0.5400 - accuracy: 0.7359
Epoch 113/150
804/804 [==============================] - 1s 820us/step - loss: 0.5402 - accuracy: 0.7351
Epoch 114/150
804/804 [==============================] - 1s 844us/step - loss: 0.5400 - accuracy: 0.7358
Epoch 115/150
804/804 [==============================] - 1s 823us/step - loss: 0.5409 - accuracy: 0.7346
Epoch 116/150
804/804 [==============================] - 1s 845us/step - loss: 0.5401 - accuracy: 0.7362
Epoch 117/150
804/804 [==============================] - 1s 822us/step - loss: 0.5401 - accuracy: 0.7350
Epoch 118/150
804/804 [==============================] - 1s 841us/step - loss: 0.5403 - accuracy: 0.7360
Epoch 119/150
804/804 [==============================] - 1s 829us/step - loss: 0.5406 - accuracy: 0.7351
Epoch 120/150
804/804 [==============================] - 1s 819us/step - loss: 0.5400 - accuracy: 0.7352
Epoch 121/150
804/804 [==============================] - 1s 848us/step - loss: 0.5405 - accuracy: 0.7338
Epoch 122/150
804/804 [==============================] - 1s 814us/step - loss: 0.5417 - accuracy: 0.7327
Epoch 123/150
804/804 [==============================] - 1s 839us/step - loss: 0.5404 - accuracy: 0.7349
Epoch 124/150
804/804 [==============================] - 1s 827us/step - loss: 0.5401 - accuracy: 0.7350
Epoch 125/150
804/804 [==============================] - 1s 839us/step - loss: 0.5410 - accuracy: 0.7343
Epoch 126/150
804/804 [==============================] - 1s 861us/step - loss: 0.5411 - accuracy: 0.7348
Epoch 127/150
804/804 [==============================] - 1s 829us/step - loss: 0.5419 - accuracy: 0.7253
Epoch 128/150
804/804 [==============================] - 1s 849us/step - loss: 0.5414 - accuracy: 0.7320
Epoch 129/150
804/804 [==============================] - 1s 822us/step - loss: 0.5404 - accuracy: 0.7349
Epoch 130/150
804/804 [==============================] - 1s 848us/step - loss: 0.5394 - accuracy: 0.7345
Epoch 131/150
804/804 [==============================] - 1s 818us/step - loss: 0.5403 - accuracy: 0.7350
Epoch 132/150
804/804 [==============================] - 1s 832us/step - loss: 0.5411 - accuracy: 0.7350
Epoch 133/150
804/804 [==============================] - 1s 834us/step - loss: 0.5402 - accuracy: 0.7349
Epoch 134/150
804/804 [==============================] - 1s 839us/step - loss: 0.5400 - accuracy: 0.7344
Epoch 135/150
804/804 [==============================] - 1s 838us/step - loss: 0.5398 - accuracy: 0.7352
Epoch 136/150
804/804 [==============================] - 1s 839us/step - loss: 0.5405 - accuracy: 0.7340
Epoch 137/150
804/804 [==============================] - 1s 833us/step - loss: 0.5398 - accuracy: 0.7345
Epoch 138/150
804/804 [==============================] - 1s 830us/step - loss: 0.5395 - accuracy: 0.7337
Epoch 139/150
804/804 [==============================] - 1s 838us/step - loss: 0.5402 - accuracy: 0.7326
Epoch 140/150
804/804 [==============================] - 1s 829us/step - loss: 0.5409 - accuracy: 0.7338
Epoch 141/150
804/804 [==============================] - 1s 850us/step - loss: 0.5400 - accuracy: 0.7330
Epoch 142/150
804/804 [==============================] - 1s 827us/step - loss: 0.5397 - accuracy: 0.7338
Epoch 143/150
804/804 [==============================] - 1s 838us/step - loss: 0.5398 - accuracy: 0.7345
Epoch 144/150
804/804 [==============================] - 1s 832us/step - loss: 0.5400 - accuracy: 0.7341
Epoch 145/150
804/804 [==============================] - 1s 841us/step - loss: 0.5405 - accuracy: 0.7329
Epoch 146/150
804/804 [==============================] - 1s 843us/step - loss: 0.5400 - accuracy: 0.7327
Epoch 147/150
804/804 [==============================] - 1s 835us/step - loss: 0.5400 - accuracy: 0.7346
Epoch 148/150
804/804 [==============================] - 1s 844us/step - loss: 0.5397 - accuracy: 0.7356
Epoch 149/150
804/804 [==============================] - 1s 837us/step - loss: 0.5403 - accuracy: 0.7345
Epoch 150/150
804/804 [==============================] - 1s 838us/step - loss: 0.5400 - accuracy: 0.7345

In [75]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5656 - accuracy: 0.7282 - 213ms/epoch - 796us/step
Loss: 0.5656416416168213, Accuracy: 0.7281632423400879

In [78]:
# Export our model to HDF5 file
nn.save(' AlphabetSoupCharity_Optimization.h5')

c:\Users\12awe\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(