## Preprocessing

In [111]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [112]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN', 'NAME', 'ORGANIZATION'], inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,1,100000-499999,N,142590,1

In [113]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [114]:
income_type = application_df['INCOME_AMT'].value_counts()
income_type

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [115]:
income_types_to_replace =  income_type[income_type < 1000].index

# Replace in dataframe
for app in income_types_to_replace:
    application_df['INCOME_AMT'] = application_df['INCOME_AMT'].replace(app,"Other")

# Check to make sure binning was successful
application_df['INCOME_AMT'].value_counts()

0                24388
25000-99999       3747
100000-499999     3374
Other             2790
Name: INCOME_AMT, dtype: int64

In [116]:
# Look at APPLICATION_TYPE value counts for binning
app_type = application_df['APPLICATION_TYPE'].value_counts()
app_type

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [117]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace =  app_type[app_type < 500].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [118]:
# Look at CLASSIFICATION value counts for binning
class_types = application_df['CLASSIFICATION'].value_counts()
class_types

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [119]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_types[class_types > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [120]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = class_types[class_types < 1000].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [121]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,INCOME_AMT_0,INCOME_AMT_100000-499999,INCOME_AMT_25000-99999,INCOME_AMT_Other,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,1,1,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,1,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,1,1,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,1,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,1,0,0,1,0

In [122]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values.reshape(-1,1)
X = application_df.drop(columns=['IS_SUCCESSFUL']).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [123]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [124]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=200, activation='relu', input_dim=34))

nn.add(tf.keras.layers.Dense(units=120, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation='selu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=40, activation='selu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_8"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_40 (Dense)            (None, 200)               7000

 dense_41 (Dense)            (None, 120)               24120

 dense_42 (Dense)            (None, 80)                9680

 dense_43 (Dense)            (None, 40)                3240

 dense_44 (Dense)            (None, 1)                 41

=================================================================
Total params: 44081 (172.19 KB)
Trainable params: 44081 (172.19 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [125]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [126]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=150)

Epoch 1/150
804/804 [==============================] - 1s 884us/step - loss: 0.5803 - accuracy: 0.7154
Epoch 2/150
804/804 [==============================] - 1s 848us/step - loss: 0.5709 - accuracy: 0.7205
Epoch 3/150
804/804 [==============================] - 1s 820us/step - loss: 0.5680 - accuracy: 0.7228
Epoch 4/150
804/804 [==============================] - 1s 825us/step - loss: 0.5671 - accuracy: 0.7234
Epoch 5/150
804/804 [==============================] - 1s 813us/step - loss: 0.5659 - accuracy: 0.7236
Epoch 6/150
804/804 [==============================] - 1s 818us/step - loss: 0.5643 - accuracy: 0.7247
Epoch 7/150
804/804 [==============================] - 1s 863us/step - loss: 0.5645 - accuracy: 0.7254
Epoch 8/150
804/804 [==============================] - 1s 834us/step - loss: 0.5641 - accuracy: 0.7257
Epoch 9/150
804/804 [==============================] - 1s 854us/step - loss: 0.5628 - accuracy: 0.7257
Epoch 10/150
804/804 [==============================] - 1s 816us/step - loss: 0.5626 - accuracy: 0.7264
Epoch 11/150
804/804 [==============================] - 1s 872us/step - loss: 0.5627 - accuracy: 0.7268
Epoch 12/150
804/804 [==============================] - 1s 834us/step - loss: 0.5620 - accuracy: 0.7261
Epoch 13/150
804/804 [==============================] - 1s 824us/step - loss: 0.5614 - accuracy: 0.7255
Epoch 14/150
804/804 [==============================] - 1s 837us/step - loss: 0.5611 - accuracy: 0.7263
Epoch 15/150
804/804 [==============================] - 1s 833us/step - loss: 0.5608 - accuracy: 0.7271
Epoch 16/150
804/804 [==============================] - 1s 825us/step - loss: 0.5598 - accuracy: 0.7272
Epoch 17/150
804/804 [==============================] - 1s 850us/step - loss: 0.5600 - accuracy: 0.7271
Epoch 18/150
804/804 [==============================] - 1s 863us/step - loss: 0.5599 - accuracy: 0.7270
Epoch 19/150
804/804 [==============================] - 1s 862us/step - loss: 0.5593 - accuracy: 0.7275
Epoch 20/150
804/804 [==============================] - 1s 901us/step - loss: 0.5596 - accuracy: 0.7275
Epoch 21/150
804/804 [==============================] - 1s 875us/step - loss: 0.5589 - accuracy: 0.7273
Epoch 22/150
804/804 [==============================] - 1s 846us/step - loss: 0.5587 - accuracy: 0.7283
Epoch 23/150
804/804 [==============================] - 1s 871us/step - loss: 0.5587 - accuracy: 0.7273
Epoch 24/150
804/804 [==============================] - 1s 851us/step - loss: 0.5587 - accuracy: 0.7272
Epoch 25/150
804/804 [==============================] - 1s 820us/step - loss: 0.5584 - accuracy: 0.7279
Epoch 26/150
804/804 [==============================] - 1s 820us/step - loss: 0.5575 - accuracy: 0.7280
Epoch 27/150
804/804 [==============================] - 1s 854us/step - loss: 0.5584 - accuracy: 0.7271
Epoch 28/150
804/804 [==============================] - 1s 823us/step - loss: 0.5585 - accuracy: 0.7283
Epoch 29/150
804/804 [==============================] - 1s 840us/step - loss: 0.5578 - accuracy: 0.7277
Epoch 30/150
804/804 [==============================] - 1s 874us/step - loss: 0.5576 - accuracy: 0.7275
Epoch 31/150
804/804 [==============================] - 1s 830us/step - loss: 0.5578 - accuracy: 0.7282
Epoch 32/150
804/804 [==============================] - 1s 833us/step - loss: 0.5576 - accuracy: 0.7281
Epoch 33/150
804/804 [==============================] - 1s 829us/step - loss: 0.5568 - accuracy: 0.7287
Epoch 34/150
804/804 [==============================] - 1s 830us/step - loss: 0.5574 - accuracy: 0.7287
Epoch 35/150
804/804 [==============================] - 1s 835us/step - loss: 0.5574 - accuracy: 0.7282
Epoch 36/150
804/804 [==============================] - 1s 870us/step - loss: 0.5570 - accuracy: 0.7291
Epoch 37/150
804/804 [==============================] - 1s 835us/step - loss: 0.5571 - accuracy: 0.7281
Epoch 38/150
804/804 [==============================] - 1s 818us/step - loss: 0.5569 - accuracy: 0.7286
Epoch 39/150
804/804 [==============================] - 1s 832us/step - loss: 0.5562 - accuracy: 0.7284
Epoch 40/150
804/804 [==============================] - 1s 825us/step - loss: 0.5566 - accuracy: 0.7288
Epoch 41/150
804/804 [==============================] - 1s 838us/step - loss: 0.5561 - accuracy: 0.7296
Epoch 42/150
804/804 [==============================] - 1s 832us/step - loss: 0.5566 - accuracy: 0.7290
Epoch 43/150
804/804 [==============================] - 1s 827us/step - loss: 0.5560 - accuracy: 0.7287
Epoch 44/150
804/804 [==============================] - 1s 868us/step - loss: 0.5556 - accuracy: 0.7294
Epoch 45/150
804/804 [==============================] - 1s 835us/step - loss: 0.5562 - accuracy: 0.7292
Epoch 46/150
804/804 [==============================] - 1s 880us/step - loss: 0.5559 - accuracy: 0.7290
Epoch 47/150
804/804 [==============================] - 1s 843us/step - loss: 0.5559 - accuracy: 0.7284
Epoch 48/150
804/804 [==============================] - 1s 844us/step - loss: 0.5563 - accuracy: 0.7290
Epoch 49/150
804/804 [==============================] - 1s 843us/step - loss: 0.5554 - accuracy: 0.7303
Epoch 50/150
804/804 [==============================] - 1s 849us/step - loss: 0.5558 - accuracy: 0.7292
Epoch 51/150
804/804 [==============================] - 1s 843us/step - loss: 0.5559 - accuracy: 0.7289
Epoch 52/150
804/804 [==============================] - 1s 845us/step - loss: 0.5554 - accuracy: 0.7289
Epoch 53/150
804/804 [==============================] - 1s 859us/step - loss: 0.5553 - accuracy: 0.7296
Epoch 54/150
804/804 [==============================] - 1s 855us/step - loss: 0.5553 - accuracy: 0.7292
Epoch 55/150
804/804 [==============================] - 1s 829us/step - loss: 0.5562 - accuracy: 0.7293
Epoch 56/150
804/804 [==============================] - 1s 844us/step - loss: 0.5551 - accuracy: 0.7297
Epoch 57/150
804/804 [==============================] - 1s 825us/step - loss: 0.5553 - accuracy: 0.7288
Epoch 58/150
804/804 [==============================] - 1s 860us/step - loss: 0.5549 - accuracy: 0.7296
Epoch 59/150
804/804 [==============================] - 1s 835us/step - loss: 0.5554 - accuracy: 0.7296
Epoch 60/150
804/804 [==============================] - 1s 824us/step - loss: 0.5554 - accuracy: 0.7294
Epoch 61/150
804/804 [==============================] - 1s 835us/step - loss: 0.5543 - accuracy: 0.7300
Epoch 62/150
804/804 [==============================] - 1s 817us/step - loss: 0.5551 - accuracy: 0.7297
Epoch 63/150
804/804 [==============================] - 1s 830us/step - loss: 0.5551 - accuracy: 0.7287
Epoch 64/150
804/804 [==============================] - 1s 863us/step - loss: 0.5544 - accuracy: 0.7302
Epoch 65/150
804/804 [==============================] - 1s 868us/step - loss: 0.5545 - accuracy: 0.7304
Epoch 66/150
804/804 [==============================] - 1s 841us/step - loss: 0.5587 - accuracy: 0.7296
Epoch 67/150
804/804 [==============================] - 1s 840us/step - loss: 0.5543 - accuracy: 0.7303
Epoch 68/150
804/804 [==============================] - 1s 820us/step - loss: 0.5539 - accuracy: 0.7301
Epoch 69/150
804/804 [==============================] - 1s 839us/step - loss: 0.5542 - accuracy: 0.7299
Epoch 70/150
804/804 [==============================] - 1s 844us/step - loss: 0.5539 - accuracy: 0.7308
Epoch 71/150
804/804 [==============================] - 1s 820us/step - loss: 0.5541 - accuracy: 0.7302
Epoch 72/150
804/804 [==============================] - 1s 839us/step - loss: 0.5548 - accuracy: 0.7299
Epoch 73/150
804/804 [==============================] - 1s 819us/step - loss: 0.5538 - accuracy: 0.7306
Epoch 74/150
804/804 [==============================] - 1s 850us/step - loss: 0.5537 - accuracy: 0.7301
Epoch 75/150
804/804 [==============================] - 1s 822us/step - loss: 0.5536 - accuracy: 0.7305
Epoch 76/150
804/804 [==============================] - 1s 843us/step - loss: 0.5534 - accuracy: 0.7310
Epoch 77/150
804/804 [==============================] - 1s 832us/step - loss: 0.5537 - accuracy: 0.7308
Epoch 78/150
804/804 [==============================] - 1s 819us/step - loss: 0.5536 - accuracy: 0.7315
Epoch 79/150
804/804 [==============================] - 1s 834us/step - loss: 0.5542 - accuracy: 0.7314
Epoch 80/150
804/804 [==============================] - 1s 840us/step - loss: 0.5536 - accuracy: 0.7313
Epoch 81/150
804/804 [==============================] - 1s 834us/step - loss: 0.5532 - accuracy: 0.7309
Epoch 82/150
804/804 [==============================] - 1s 819us/step - loss: 0.5533 - accuracy: 0.7311
Epoch 83/150
804/804 [==============================] - 1s 851us/step - loss: 0.5533 - accuracy: 0.7306
Epoch 84/150
804/804 [==============================] - 1s 818us/step - loss: 0.5537 - accuracy: 0.7304
Epoch 85/150
804/804 [==============================] - 1s 833us/step - loss: 0.5528 - accuracy: 0.7311
Epoch 86/150
804/804 [==============================] - 1s 845us/step - loss: 0.5530 - accuracy: 0.7314
Epoch 87/150
804/804 [==============================] - 1s 835us/step - loss: 0.5534 - accuracy: 0.7313
Epoch 88/150
804/804 [==============================] - 1s 844us/step - loss: 0.5527 - accuracy: 0.7314
Epoch 89/150
804/804 [==============================] - 1s 846us/step - loss: 0.5525 - accuracy: 0.7318
Epoch 90/150
804/804 [==============================] - 1s 839us/step - loss: 0.5533 - accuracy: 0.7313
Epoch 91/150
804/804 [==============================] - 1s 829us/step - loss: 0.5535 - accuracy: 0.7315
Epoch 92/150
804/804 [==============================] - 1s 856us/step - loss: 0.5532 - accuracy: 0.7306
Epoch 93/150
804/804 [==============================] - 1s 827us/step - loss: 0.5536 - accuracy: 0.7306
Epoch 94/150
804/804 [==============================] - 1s 838us/step - loss: 0.5522 - accuracy: 0.7310
Epoch 95/150
804/804 [==============================] - 1s 838us/step - loss: 0.5530 - accuracy: 0.7308
Epoch 96/150
804/804 [==============================] - 1s 823us/step - loss: 0.5532 - accuracy: 0.7310
Epoch 97/150
804/804 [==============================] - 1s 834us/step - loss: 0.5528 - accuracy: 0.7306
Epoch 98/150
804/804 [==============================] - 1s 819us/step - loss: 0.5523 - accuracy: 0.7310
Epoch 99/150
804/804 [==============================] - 1s 818us/step - loss: 0.5532 - accuracy: 0.7320
Epoch 100/150
804/804 [==============================] - 1s 842us/step - loss: 0.5529 - accuracy: 0.7312
Epoch 101/150
804/804 [==============================] - 1s 814us/step - loss: 0.5521 - accuracy: 0.7313
Epoch 102/150
804/804 [==============================] - 1s 834us/step - loss: 0.5524 - accuracy: 0.7315
Epoch 103/150
804/804 [==============================] - 1s 817us/step - loss: 0.5533 - accuracy: 0.7314
Epoch 104/150
804/804 [==============================] - 1s 828us/step - loss: 0.5532 - accuracy: 0.7309
Epoch 105/150
804/804 [==============================] - 1s 819us/step - loss: 0.5528 - accuracy: 0.7312
Epoch 106/150
804/804 [==============================] - 1s 842us/step - loss: 0.5524 - accuracy: 0.7308
Epoch 107/150
804/804 [==============================] - 1s 822us/step - loss: 0.5526 - accuracy: 0.7315
Epoch 108/150
804/804 [==============================] - 1s 839us/step - loss: 0.5532 - accuracy: 0.7315
Epoch 109/150
804/804 [==============================] - 1s 837us/step - loss: 0.5524 - accuracy: 0.7313
Epoch 110/150
804/804 [==============================] - 1s 823us/step - loss: 0.5520 - accuracy: 0.7316
Epoch 111/150
804/804 [==============================] - 1s 849us/step - loss: 0.5525 - accuracy: 0.7315
Epoch 112/150
804/804 [==============================] - 1s 832us/step - loss: 0.5522 - accuracy: 0.7321
Epoch 113/150
804/804 [==============================] - 1s 835us/step - loss: 0.5523 - accuracy: 0.7304
Epoch 114/150
804/804 [==============================] - 1s 850us/step - loss: 0.5527 - accuracy: 0.7309
Epoch 115/150
804/804 [==============================] - 1s 834us/step - loss: 0.5520 - accuracy: 0.7319
Epoch 116/150
804/804 [==============================] - 1s 832us/step - loss: 0.5518 - accuracy: 0.7320
Epoch 117/150
804/804 [==============================] - 1s 829us/step - loss: 0.5524 - accuracy: 0.7318
Epoch 118/150
804/804 [==============================] - 1s 844us/step - loss: 0.5521 - accuracy: 0.7316
Epoch 119/150
804/804 [==============================] - 1s 817us/step - loss: 0.5522 - accuracy: 0.7315
Epoch 120/150
804/804 [==============================] - 1s 828us/step - loss: 0.5520 - accuracy: 0.7309
Epoch 121/150
804/804 [==============================] - 1s 834us/step - loss: 0.5525 - accuracy: 0.7307
Epoch 122/150
804/804 [==============================] - 1s 828us/step - loss: 0.5523 - accuracy: 0.7315
Epoch 123/150
804/804 [==============================] - 1s 828us/step - loss: 0.5534 - accuracy: 0.7311
Epoch 124/150
804/804 [==============================] - 1s 828us/step - loss: 0.5538 - accuracy: 0.7311
Epoch 125/150
804/804 [==============================] - 1s 828us/step - loss: 0.5516 - accuracy: 0.7313
Epoch 126/150
804/804 [==============================] - 1s 824us/step - loss: 0.5520 - accuracy: 0.7314
Epoch 127/150
804/804 [==============================] - 1s 839us/step - loss: 0.5516 - accuracy: 0.7313
Epoch 128/150
804/804 [==============================] - 1s 840us/step - loss: 0.5524 - accuracy: 0.7316
Epoch 129/150
804/804 [==============================] - 1s 832us/step - loss: 0.5522 - accuracy: 0.7316
Epoch 130/150
804/804 [==============================] - 1s 838us/step - loss: 0.5521 - accuracy: 0.7310
Epoch 131/150
804/804 [==============================] - 1s 838us/step - loss: 0.5536 - accuracy: 0.7313
Epoch 132/150
804/804 [==============================] - 1s 827us/step - loss: 0.5528 - accuracy: 0.7313
Epoch 133/150
804/804 [==============================] - 1s 824us/step - loss: 0.5517 - accuracy: 0.7317
Epoch 134/150
804/804 [==============================] - 1s 840us/step - loss: 0.5526 - accuracy: 0.7317
Epoch 135/150
804/804 [==============================] - 1s 840us/step - loss: 0.5521 - accuracy: 0.7317
Epoch 136/150
804/804 [==============================] - 1s 846us/step - loss: 0.5520 - accuracy: 0.7315
Epoch 137/150
804/804 [==============================] - 1s 833us/step - loss: 0.5522 - accuracy: 0.7320
Epoch 138/150
804/804 [==============================] - 1s 834us/step - loss: 0.5521 - accuracy: 0.7316
Epoch 139/150
804/804 [==============================] - 1s 848us/step - loss: 0.5521 - accuracy: 0.7321
Epoch 140/150
804/804 [==============================] - 1s 832us/step - loss: 0.5527 - accuracy: 0.7325
Epoch 141/150
804/804 [==============================] - 1s 827us/step - loss: 0.5515 - accuracy: 0.7311
Epoch 142/150
804/804 [==============================] - 1s 835us/step - loss: 0.5521 - accuracy: 0.7318
Epoch 143/150
804/804 [==============================] - 1s 838us/step - loss: 0.5515 - accuracy: 0.7318
Epoch 144/150
804/804 [==============================] - 1s 817us/step - loss: 0.5518 - accuracy: 0.7316
Epoch 145/150
804/804 [==============================] - 1s 837us/step - loss: 0.5516 - accuracy: 0.7317
Epoch 146/150
804/804 [==============================] - 1s 835us/step - loss: 0.5524 - accuracy: 0.7311
Epoch 147/150
804/804 [==============================] - 1s 833us/step - loss: 0.5521 - accuracy: 0.7315
Epoch 148/150
804/804 [==============================] - 1s 832us/step - loss: 0.5517 - accuracy: 0.7322
Epoch 149/150
804/804 [==============================] - 1s 843us/step - loss: 0.5517 - accuracy: 0.7318
Epoch 150/150
804/804 [==============================] - 1s 837us/step - loss: 0.5519 - accuracy: 0.7314

In [127]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5700 - accuracy: 0.7234 - 209ms/epoch - 781us/step
Loss: 0.5700186491012573, Accuracy: 0.7233819365501404

In [128]:
# Export our model to HDF5 file
nn.save(' AlphabetSoupCharity_Optimization.h5')

c:\Users\12awe\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(